body{
  margin: 0;
  padding: 0;
  background: url(background.jpg);
  background-size: cover;
}
.box{
  width: 400px;
  padding: 50px;
  background: rgba(0, 0, 0, 0.3);
  font-family: Sans-serif;
  color: white;
  letter-spacing: 2px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
ul{
  margin: 5%;
  padding: 0;
}
.box li{
  display:inline;
  margin: 5px;
}
.box a{
  color: white;
  font-size: 40px;
}
a:hover{
  opacity: 0.7;
}
